@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    background-color: white;
    padding: 2px;
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(108, 22, 158);
    border-radius: 5px;
}